body {
    font-family: Arial, sans-serif;
    background: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://media.istockphoto.com/id/504133748/fr/photo/flou-nouvelles-voitures-concessionnaire-place.jpg?s=612x612&w=0&k=20&c=I7RiH9_6Po3JoELDdoYWucjPFBS0R3MQYXDpdlwxyio=');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    background: #E1DFD4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}

h1, h2 {
    color: #35424a;
}

input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

button#saveButton {
    background-color: #6200ea;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

nav ul li {
    background-color: #6200ea;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

nav ul li:hover {
    background-color: #3700b3;
    transform: translateY(-2px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
    
button#saveButton:hover {
    background-color: #3700b3;
    transform: translateY(-2px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

nav ul li:active {
    background-color: #30009c;
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
    
button#saveButton:active {
    background-color: #30009c;
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#fileList, #savedFilesList {
    margin-top: 20px;
}

.file-item {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.file-item a {
    text-decoration: none;
    color: blue;
    margin-right: 10px;
    flex-grow: 1;
}

.file-item a:hover {
    text-decoration: underline;
}

.thumbnail {
    display: inline-block;
    margin: 10px;
    width: 100px;
    height: 100px;
    overflow: hidden;
    flex-shrink: 0;
}

.thumbnail img {
    width: 100%;
    height: auto;
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: darkred;
}
